# MQTT Broker Configuration
VITE_MQTT_HOST=0808028e417c4ff2957842f563dafe7b.s1.eu.hivemq.cloud
VITE_MQTT_PORT=8884
VITE_MQTT_USERNAME=VaccumRobot
VITE_MQTT_PASSWORD=Vaccum@12345
VITE_MQTT_TOPIC_PREFIX=vacbot
